@charset "utf-8";
/* CSS Document */
body {margin-top: 0px;font-family:"宋体", Arial, Helvetica; font-size:12px}
body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,ul,li,dt,dl,dd{margin:0;padding:0;border:0; }
ul{ list-style:none}
img{ border:none;}
.colors{ color:#2b64b3;}
.line{ border-bottom: 2px solid #3C6D9D;margin-top:10px;}
h4{ font-weight:normal;}
.column_r:after,.column:after,.medicine_con ul:after,.features_dls:after,.tutorial:after,.combat dl:after,.clearfix:after{ content: " "; display: block; font-size: 0; height: 0;line-height: 0;visibility: hidden;width: 0;clear: both;}
.column_r,.column,.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.blank10{ height:10px; clear:both;}

/* 链接颜色 */
a:link { color: #333; text-decoration:none;}
a:visited { color: #333; text-decoration:none;}
a:active { color: #1da0bc; text-decoration:none;}
a:hover { color: #b2341e; text-decoration:none;}
i,em{ font-style:normal;}
.clear{ width:0px; height:0px; clear:both; overflow:hidden; font-size:0px;}
.blue1 a:link,.blue1 a:visited{ color: #1da0bc}
.white a:link,.white a:visited{ color: #fff;}
.white a:hover{ color:#b2341e;}
.wrap{ width:1000px; margin:0 auto;}

/*header*/
.header{ height:34px; line-height:34px; overflow:hidden; background:#f7f7f7;border-bottom:1px solid #dbdbdb;}
.header a{ color:#666;}
.header .red{ color:#e61d24;}
/*logo*/
span.logo_pic{ display:block; float:left; width:155px; height:61px; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0 0;margin-top:12px;}
.banner{ width:410px; float:left; height:82px; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0 -158px;margin-left:20px;}
/*search*/
.search_all{ position:relative; z-index:1;}
.search_input{ width:210px; color:#999;padding-left:29px; height:25px; line-height:25px; border:1px solid #dfdfdf; }
.search_bnt{ background:none; border:none; width:44px; height:29px; line-height:27px; color:#fff; background:#e61d24; cursor:pointer;}
.con_search .search_bnt{ background:#842a29;}
.search{ float:right;margin-top:20px;}
.search p{ clear:both;padding-top:6px; color:#666;}
.search p a{ color:#999;}
span.icon_search{ width:20px;  height:25px; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -5px; position:absolute; z-index:4;left:2px;top:2px;*+top:3px;_top:3px; }
/*menu*/
.menu{ clear:both;background:#842a29; height:38px; line-height:38px; font-size:14px; }
.menu li{ padding:0 8px; border-right:1px solid #842a29;margin-left:1px;}
.menu li,.menu li a{ display:inline-block; float:left; line-height:38px; text-align:center;}
.menu li:hover,.menu .current{  background:#b2341e; border-right:1px solid #6a2221;}
.menu .sub_nav{ position:relative; z-index:3;}
.menu li ul{ position:absolute; z-index:3; width:172px; background:#b2341e; top:38px; left:0px;}
.menu li ul li{ clear:both; width:172px; border:none;}
.menu li ul li a{ float:inherit; text-align:left; clear:both;}
.menu li ul li a:hover{ color:#f4c537;}
.menu li ul li:hover{ background:none; border:none; }
.menu  a:hover{ color:#fff;}

/*底部*/
.footer{ text-align:center; color:#6d6b6c;padding-top:30px;}
.footer p{ line-height:24px;}
.footer a{ color:#6d6b6c;}
.c999{ color:#999;}
.column{ clear:both;margin-top:15px;}


/*main_left*/
.main_left{ width:300px; float:left;}
/*幻灯片*/
.slide_all{ position: relative; height:300px;  }
.slide_pic li{  height:300px;}
.slide_pic{ height:300px;overflow:hidden; margin:0 auto;}
.slide_pic img{ width:300px;height:300px; margin:0 auto;margin-bottom:10px;}
.slide_pic .slide_tit{ height:35px;line-height:35px;background:#000;filter:alpha(opacity=75); -moz-opacity:0.75;-khtml-opacity: 0.75;  opacity:0.75; position:absolute; z-index:2; bottom:0px; left:0px;width:290px; text-align:center;}
.slide_pic .slide_tit{ font-size:14px;  color:#fff;padding-left:10px; overflow:hidden;}
.slide_pic .slide_tit a,.video-test2 a,.common_title a{ color:#fff;}
.slide_num{  position:absolute; z-index:2; bottom:40px; right:5px; }
.slide_num span{ display:block; float:left;margin-right:5px; width:18px; height:16px; line-height:16px;background:#fff; text-align:center;  }
.slide_num  .slide_cur{ background:#e61d24; color:#fff;}
#slidesImgs li {  display: none; }
/*紫砂头条图文*/
.tutorial{ clear:both; zoom:1; padding-top:10px; }
.tutorial dl{ width:100px; float:left;height:100px; position:relative;margin-right:10px;}
.tutorial dt,.tutorial dt img{ width:100px; height:100px; overflow:hidden;}
.tutorial dd{ text-align:center; position:absolute; width:100px; height:25px; line-height:25px; bottom:0px;z-index:2; background:#fff; filter:alpha(opacity=75); -moz-opacity:0.75;-khtml-opacity: 0.75;  opacity:0.75;}
.Appraisal .tutorial dd{ text-align:center; position:absolute; width:100px; height:25px; line-height:25px; bottom:0px;z-index:2; background:#000; filter:alpha(opacity=75); -moz-opacity:0.75;-khtml-opacity: 0.75;  opacity:0.75;}
.tutorial .margin_none{ margin-right:0px;}
.tutorial .tutorial_dl_r{ float:right;}
.common_bor{ border:1px solid #dbdbdb; padding:5px 15px 7px 15px; width:270px;}
.common_bor .common_list{ font-size:14px;}
.common_list{ line-height:23px;}
.common_list li{  clear:both;height:23px;line-height:23px; overflow:hidden;}
.common_bor .common_list{ line-height:24px;}
.icon_dot{ width:2px; height:2px; display:block;  background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px 0px;margin:12px 5px 0 0 ; float:left;_margin-right:0px; }
/*main_center*/
.main_center{ width:430px; float:left; display:inline; margin-left:15px; display:inline;}
/*紫砂头条*/
.main_center .medicine_con{  width:430px; margin:0 auto;}
.wen_bg{ background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0px -102px; height:27px;}
.wen_bg2{ background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0px -130px; height:27px; }
.medicine_con h2{ font-family:"微软雅黑";font-size:18px; font-weight:normal; text-align:center; clear:both;padding-top:10px;}
.medicine_con h2 a{ color:#b2341e;}
.medicine_con h2 a:hover{ text-decoration:underline;}
.medicine_con ul{ margin-top:6px; border-bottom:1px dashed #dbdbdb;padding-bottom:6px; clear:both; zoom:1;}
.medicine_con .no-padding{ padding:0px; border:none;}
.medicine_con li{ width:210px; float:left; font-size:14px;margin:0 2px 0 3px; height:25px; line-height:25px; overflow:hidden; display:inline;}
.medicine_con .no-top{ padding-top:0px;}
.list{ font-size:14px;zoom:1;  }
.list li{ float:left; width:205px;  overflow:hidden;margin-right:10px;height:24px; line-height:25px;}
/*main_right*/
.main_right{ float:right;width:240px;}

/*紫砂常识*/
.Purple_sense{ padding:15px 0px 5px 0px; background:#faf6ef; position:relative; height:280px; overflow:hidden; }
.Purple_sense dl,.Purple_sense .common_list{ padding:10px 0px;}
.Purple_sense .common_list{ padding:0 15px;margin-top:0px;}
.Purple_sense .common_dl{ border-bottom:1px dashed #dbdbdb; width:210px; margin:0 auto;}
.Purple_sense .title{  font-size:16px;font-family:"微软雅黑"; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0 -145px; color:#fff; height:25px; line-height:24px;margin:5px 0 0 15px;}
.Purple_sense .title span{ display:inline-block;margin:0 4px 0 5px; }
.Purple_sense dt,.Purple_sense dt img{ width:80px; height:60px; float:left; overflow:hidden;}
.Purple_sense dd{ float:left; margin-left:10px; width:120px; color:#999999; line-height:20px;}
.icon_flow{ background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat 0 -107px; width:10px; height:10px; display:inline-block; }
.Purple_sense .icon_flow{ position:absolute; z-index:1;}
.Purple_sense .icon_flow1{ left:0px; top:0px;}
.Purple_sense .icon_flow2{ right:0px; top:0px;}
.Purple_sense .icon_flow3{ left:0px; bottom:0px;}
.Purple_sense .icon_flow4{ right:0px; bottom:0px;}

.icon_arrow_1{ width:5px; height:10px; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -200px -65px; display:block; float:left;margin:6px 5px 0 0; overflow:hidden;}
.icon_arrow_2{ background-position:-200px -96px;}
.icon_arrow_3{ background-position:-200px -110px;}
.icon_arrow_green{ background-position:-200px -124px;}
.icon_arrow_purple{  background-position:-200px -137px;}
.icon_arrow_blue{ background-position:-200px -80px;}
.common_list2{ padding-top:10px;}
.common_list2 a{ color:#666; }
.title{ font-size:16px; color:#333;font-family:"微软雅黑";  }
.blue{ color:#842a29;}
.yellow{ color:#f49914;}
.red{ color:#f90064;}
.green{ color:#69b306;}
.purple{ color:#650a8f;}
.title span{ display:block; float:left;}
.title .lines1{ width:182px; background:#dbdbdb; height:1px;margin:10px 0 0 10px; overflow:hidden;}
.title .lines2{ width:350px; }
.title .lines3{ width:190px; }
.genre_dl{ border-bottom:1px dashed #dbdbdb; padding-bottom:5px; clear:both;margin-bottom:10px;}
.column_r-2 .genre_dl{ margin-bottom:5px;}
.genre_dl dl{ width:90px;  float:left;margin-top:10px;margin-right:15px;}
.genre_dl .none{ margin-right:0px;}
.genre_dl dt{ height:68px;}
.genre_dl dd{ height:25px;margin-top:1px;  text-align:center; line-height:25px;}
.font-size{ font-size:14px;}
/*紫砂开壶*/
.common_tit{ background:url("36787-1-3.html")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/tit_bg.jpg*/ repeat-x; height:15px; color:#842a29;}
.common_tit em{ display:inline-block; background:#fff; font-size:18px; font-family:"微软雅黑"; position:relative; top:-10px;padding-right:10px;}
.zisha_open{ margin-top:15px; clear:both; height:100px;}
span.icon_f1{ width:17px; height:17px; background:#fff url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -12px -105px; display:inline-block; position:relative; top:-7px;*+top:-9px; padding-right:5px;}
span.icon_f2{ width:13px; height:13px; background:#fff url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -41px -107px; display:inline-block; position:relative; top:-9px;*+top:-11px; padding-right:5px;}
.zisha_open dt{ width:100px; float:left;}
.zisha_open dd{ padding:10px 0 0 10px; float:left; width:190px; background:url("1309718-1-1.html")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/lineBg.png*/ repeat; height:90px;}
.zisha_open dd .zisha_open_tit{ font-size:14px;}
.zisha_open dd .zisha_open_cont{ color:#999; line-height:1.7;margin-top:5px;}
/*保养窍门*/
.trick_all{ border-top:1px dashed #dbdbdb; clear:both;padding-top:13px; margin-top:12px;}
.trick_all dl{ width:210px; float:left;margin-right:5px;}
.trick_all dl dt{ width:45px; height:40px;padding-top:5px; float:left; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -144px -62px; font-size:14px; color:#b2341e; text-align:center; line-height:18px;}
.trick_all dl dd{ width:160px;float:left; margin-left:5px; line-height:2;}
/*紫砂术语*/
 .term{ border-top:2px solid #842a29;}
 .term em{ font-size:18px; font-family:"微软雅黑"; color:#842a29;}
 .term span{ padding-top:5px;}
 .term span a{ margin-left:5px;}
.column_r-2 .term_dl{ position:relative; height:110px; margin-top:10px;}
.column_r-2 .term_dl dd{ position:absolute; z-index:1; bottom:0px; left:0px; height:25px; background:#000; width:240px; line-height:25px; color:#fff; text-align:center;filter:alpha(opacity=75); -moz-opacity:0.75;-khtml-opacity: 0.75;  opacity:0.75;}
.column_r-2 .term_dl dd a{ color:#fff;}
.column_r-2 .term_dl dd a:hover{ color:#b2341e;}
.column_r-2 ul{ font-size:14px; line-height:24px; padding-top:10px;}
.column_r-2 .term_dl2 dl{ float:left;margin-top:10px;}
.column_r-2 .term_dl2 .fr{ float:right;}
.column_r-2 .term_dl2 dl dt{ width:115px; height:60px; overflow:hidden;}
.column_r-2 .term_dl2 dl dt img{ width:115px;}
.column_r-2 .term_dl2 dl dd{ text-align:center; margin-top:5px;}
/*紫砂名家*/
.purple_famous{ margin-top:30px;}
.purple_famous .common_tit{ position:relative;}
.purple_famous .common_tit em{ top:-22px;padding-left:10px;}
.icon_bgline{ width:5px; height:32px; display:inline-block; background:#fff url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -200px 0; position:relative;top:-15px;}
.icon_bgline2{  z-index:1; right:0px;padding-left:10px; position:absolute; z-index:1; background-position:-190px 0;}
.purple_famous_zj{ background:#faf6ef;padding:15px 0 12px 0;}
.purple_famous_zj dl{ width:151px; float:left; margin-left:13px;}
.purple_famous_zj dl dt{ width:151px; height:100px; overflow:hidden;}
.purple_famous_zj dl dt img{ width:151px;}
.purple_famous_zj dl dd{ line-height:1.9;margin-top:5px;}
.purple_famous_zj dl dd .tit{ font-size:14px;}
.purple_famous_zj dl dd .info{ color:#999999;}
/*紫砂壶型*/
.Kettle_left .fr,.pug_column .fr{ background:#fff; position:relative;top:-5px;}
.Kettle_left .fr a,.pug_column .fr a{ margin-left:5px;}
.hotspring { clear:both;border-bottom: 1px dashed #DBDBDB;padding-bottom:10px;margin-bottom:3px;}
.hotspring dl{ width:145px; float:left; float:left; position:relative;margin:15px 0px 0 0;}
.hotspring .fr1{ float:right;}
.hotspring .hotspring_list{ float:right;}
.hotspring dt,.hotspring dt img{ width:145px; height:102px; overflow:hidden;}
.hotspring dd{ height:25px; line-height:25px; text-align:center; background:#000; filter:alpha(opacity=75); -moz-opacity:0.75;-khtml-opacity: 0.75;  opacity:0.75;position:absolute; z-index:1; bottom:0px; left:0px; width:145px;}
.hotspring_all .common_list,.hotspring_all .common_list{ line-height:26px;}
.hotspring_all .common_list li{ line-height:26px;height:26px;}
.Kettle_left ul{ line-height:24px; font-size:14px;}
.Kettle_left ul li{ float:left; width:150px;}
span.icon_f3{ width:14px; height:14px; background:#fff url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -59px -107px; display:inline-block; position:relative; top:-8px;*+top:-10px; padding-right:5px;}
/*紫砂泥料*/
.spa_con{ clear:both; border-bottom:1px dashed #dbdbdb;padding-bottom:10px;}
.spa_con h3{ font-family:"微软雅黑"; font-size:18px; text-align:center; font-weight:normal;padding-bottom:5px;margin-top:10px;*+margin-top:0px;}
.spa_con p{ color:#666; line-height:1.5;}
.pug_column .features_dls{ border:none; padding-bottom:10px;}
.pug_column .features_dls .features_tit{ font-family:"微软雅黑"; font-size:16px;}
.pug_column .list li{ margin-left:0px;margin-right:10px;}
span.arrows{  width:5px; height:10px; background:#fff url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -200px -110px; position:relative;top:-2px; display:inline-block; position:relative; padding-right:5px;}
/*紫砂制壶工艺*/
.Technology dl{ margin-top:12px;}
.Technology dl dt{ width:80px; float:left; height:65px; overflow:hidden;}
.Technology dl dt img{ width:80px;}
.Technology dl dd{ float:left;margin-left:10px; width:140px; color:#999; line-height:1.6;}
.Technology dl .column_r_tit{ font-size:14px; }
.Technology .list{ padding-top:10px;}
.Technology .list li{ margin-left:0px; width:100%; margin-right:0px;}
/*紫砂选购*/
.Choose dt{ width:131px; float:left; height:92px; overflow:hidden;}
.Choose dt img{ width:131px;}
.Choose dd{  width:140px; float:left; color:#999; background:none;}
.Choose .zisha_open_info{ padding-top:0px;}
.Choose_all ul{ font-size:14px; line-height:25px;}
.Choose_all ul li{ clear:both;}
/*紫砂鉴定*/
.Appraisal .tutorial{ padding:15px 0; border-bottom:1px dashed #dbdbdb;margin-bottom:12px;}
/*平壶欣赏*/
.Appreciate{ padding:0 15px 10px 15px; height:320px; overflow:hidden;}
.Appreciate .titles{ font-family:"微软雅黑"; font-size:18px; color:#842a29; border-bottom:1px solid #dbdbdb;}
.Appreciate .titles em{ display:inline-block; background:#faf6ef; position:relative;top:10px;padding-right:5px;}
.Appreciate dl dt{ margin-top:5px;*+margin-top:-5px;}
.Appreciate dl dt,.Appreciate dl dt img{ width:210px; float:inherit; height:150px; overflow:hidden;}
.Appreciate dl dd{ margin-left:0px; width:210px;}
.Appreciate dl dd .tit{ font-weight:bold;*+margin-top:0px;}
.Appreciate dl dd .write span{ margin-right:10px;}
.Appreciate dl dd em{ color:#842a29;}
.Appreciate dl dd p{ margin-top:5px;}
.Appreciate .num { text-align:center;}
.Appreciate .num span{ width:25px; height:4px; background:#999; display:inline-block;margin-left:5px; cursor:pointer;}
.Appreciate .num .cur{ width:25px; height:4px; background:#b2341e;}
/*大师作品*/
.Works{ margin-top:25px;}
.Works .common_tit{ text-align:center;}
.Works .common_tit em{ padding-left:10px;}
.Works dl{ background:#faf6ef; width:150px; float:left;margin:12px 20px 10px 0;}
.Works .mr0{ margin-right:0px;}
.Works dl dt{ width:150px; height:150px; overflow:hidden;}
.Works dl dt img{ width:150px;}
.Works dl dd{  text-align:center; line-height:1.7;margin-top:5px;}
.Works dl dd a{ color:#842a29;}
.Works dl dd a:hover{ text-decoration:underline;}
.Works dl dd em{ color:#842a29;}


/*features_right*/
.features_right{ width:155px; float:left; background:#f8f5ec;padding:15px 15px 0 15px; float:right;}
.column_left .features_right dl{ border-bottom:1px dashed #dbdbdb;padding:0 0 5px 0;}
.column_left .features_right .features_right_dl{ padding-top:7px; border:none; clear:both;}
.features_right dt img{ width:155px; height:80px; overflow:hidden;}
.features_right dd{ color:#999; line-height:1.7;}
/*column_right*/
.column_right{ width:300px; float:right;}
.massage h3{ font-size:14px; font-weight:normal;}
.massage{ padding-bottom:10px; clear:both; zoom:1;}
.massage dl{ padding-top:5px;}
.massage dt{ float:left; width:80px;}
.massage dt img{ width:80px; height:60px; overflow:hidden;}
.massage dd{ float:left; width:175px;margin-left:10px; color:#999; line-height:1.7;}
.massage_list{ margin-top:0px; font-size:14px;}
/*太极拳音乐*/
.culture{ width:665px; float:left;}
.culture_left{ padding-top:15px;}
.culture_left_l{ width:430px; float:left;}
.culture_left_l .list li{ margin-left:0px;margin-right:10px; display:inline;}
.features_dls{ border-bottom:1px dashed #dbdbdb; zoom:1;padding:10px 0 15px 0;}
.features_dls dt{ width:131px; float:left;}
.features_dls dt img{ width:131px; height:92px; overflow:hidden;}
.features_dls dd{ width:275px;float:left;margin-left:10px; color:#999; line-height:1.7;}
.features_dls .features_tit{ font-size:14px;}
.culture_left_l .list{ clear:both;padding-top:6px;}
.culture_left_r{ width:220px; float:right;}
.intr_tit2{margin-top:15px; clear:both;}
.culture_left_r .introduce_con{ padding:10px 13px 10px 13px; }
/*culture_right*/
.culture_right{ width:300px; float:right;}
/*图集*/
.common_bor2{ border:1px solid #dbdbdb;padding:10px 0  15px 5px;}
.common_bor2 .title{ height:25px; border-bottom:1px solid #dbdbdb;}
.atlas{ clear:both;}
.atlas_title{ margin:0 15px;}	
.atlas dl{ width:150px; float:left;margin:15px 0 0 10px;}
.atlas dt img{ width:150px; height:150px; overflow:hidden;}
.atlas dd{ text-align:center; margin-top:5px;}
.common_bor2 .title_l em{  width:846px;}												
										
					/*===============列表页==================*/
.posi{ height:36px; line-height:36px; color:#842a29;}
.posi a{ color:#842a29;}
.con_lines {  border-top: 2px solid #842a29; clear: both;margin-top:10px; }
.column_right{ width:300px; float:right;}
.add_2{ padding-top:20px;}
/*左侧介绍*/
.takeaway:after {  clear: both; content: " "; display: block; font-size: 0;height: 0; line-height: 0; visibility: hidden; width: 0;}
.takeaway {background:#F6F9F9 url("list_daidu-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/list_daidu.png*/ no-repeat scroll 0 0 ;border: 1px solid #CCD3E4;clear: both; zoom:1;border-top:none;}
.takeaway_r { float: left;padding: 15px 15px 0 15px;}
.takeaway_r h1 {  color: #B91B20; font-family: "微软雅黑"; font-size: 24px; font-weight: normal;}
.takeaway_r .takeway_con {  color: #666666;line-height: 1.7;margin-top: 5px;padding-bottom: 10px;text-indent: 24px;}
/*column_list*/
.column_list{ width:690px; float:left; display:inline;}
.column_list_con{ border:1px solid #ccd3e4; border-top:none;padding:0 30px 20px 30px;zoom:1;}
.colum_list_1 {   clear: both;  padding-top: 10px;}
.colum_list_1 .head_tit {  display: inline-block;font-size: 18px; font-family:"微软雅黑";}
.head_tit{  margin: 8px 0; text-align: left;}
.colum_list_dl dt {  float: left; height: 126px;overflow: hidden; width: 190px;}
.colum_list_dl dt img{  height: 126px; overflow: hidden;width: 190px;}
.colum_list_dl dd { color: #666;float: left;line-height: 24px; margin-left: 20px;width: 418px;}
.share_all {  border-bottom: 1px dashed #e6e6e6; clear: both; height:29px; line-height:29px;zoom:1;padding-bottom:10px; position:relative;}
.share_all p {  display: inline; float: left;}
.share_all .share_bnt { float: right; }
.share_bnt a { display: block; float: left; margin-left: 10px;}
.published_time{ color:#999;}
.medicine_tag{ margin-top:10px;}
.medicine_tag a{ margin-right:10px; color:#666;}
.medicine_tag a:hover{ color:#842a29;}
.head_tit .blue_a{ color:#1669ab;}
/*column_r*/
.column_r2{ width:300px; float:right; display:inline;}
/*紫砂壶名家推荐*/
.masters{ margin-top:20px; clear:both;}
.masters dl{ padding-top:15px; clear:both;} 
.masters dl dt{ width:150px; float:left; height:100px; overflow:hidden;}
.masters dl dd{ width:135px; float:left; margin-left:10px; line-height:1.8;}
.masters dl dd .tit{ font-size:14px; font-weight:bold;}
/*分页*/
.page { color: #999999; font-family: Arial;  font-size: 14px;  height: 28px; line-height: normal; white-space: nowrap;margin-top:30px;}
.page_left{ text-align:left;}
.page a {  display: inline-block; height: 26px; line-height: 26px;margin-left: -1px;    min-width: 18px;  padding: 0 5px;text-align: center; vertical-align: top;}
.page a:link, .page a:visited { background-color: #fff; border: 1px solid #ccd3e4;    color: #3b5998;text-decoration: none;}
.page a:hover { background-color: #F0F0F0;border: 1px solid #CCD3E4; color: #3B5998;    text-decoration: none;}
.page a.current:link, .page a.current:visited, .page a.current:hover {
    background-color: #842a29;border: 1px solid #842a29;color: #FFFFFF;cursor: default;    text-decoration: none;}
.page .page-item-info { display: inline-block;font-size: 12px;line-height: 28px;margin-right: 8px;}
.page .page-item-first { margin-right: 5px;}
.page .page-item-prev {  margin-right: 5px; width: 50px;}
.page .page-item { margin: 0 5px;}
.page .page-item-next {  margin-left: 5px;width: 50px; color:#f00;}
.page .page-item-last { margin-left: 5px;}
.page a.page-disabled:link, .page a.page-disabled:visited, .page a.page-disabled:hover {
background-color: #fff;border: 1px solid #ccd3e4; color: #999999;cursor: default;}
.page .page-item-next:link,.page .page-item-next:visited{ color:#f00;}
.page-small { font-size: 12px;height: 20px;}
.page-small a { height: 18px;line-height: 18px;}
.page-small .page-item-info { line-height: 20px;}
.page .page-item-jump {  background-color: #FAFBFC;border: 1px solid #CCD3E4; color: #999999; display: inline-block; font-family: 宋体;font-size: 12px; height: 26px;    line-height: 26px; margin: 0 6px; padding: 0 4px;}
.page .page-item-jump .page-item-jump-text { background-color: #FFFFFF;border: 1px solid #CCD3E4; color: #666666; float: left; height: 18px;line-height: 18px;margin: 3px 5px 0 0; padding: 0 3px;text-align: center; width: 25px;}
.page-small .page-item-jump {height: 18px;line-height: 18px;}
.page-small .page-item-jump .page-item-jump-text { height: 12px;line-height: 12px;    margin-top: 2px;}

/*紫砂知多少*/
.common_colum{ zoom:1;clear:both;margin-top:15px; }
.editor_recom{ margin-top:10px;padding-bottom:15px;}
.editor_recom .theory_list{ width:199px;margin:10px 7px 10px 10px; display:inline; }
.editor_recom .list{ font-size:12px;}
.editor_tit{ font-size:18px; font-family:"微软雅黑"; color:#842a29; border-bottom:1px solid #e0e0e0; }
.editor_tit span{ display:inline-block;border-bottom:1px solid #842a29; padding-bottom:5px;}
.hd_pic dl{ width:148px; display:inline; margin-left:30px; float:left;}
.hd_pic .first{ margin-left:0px;}
.hd_pic dt img{ width:148px; height:110px; overflow:hidden;}

.add{ margin-top:20px;}
.add3{ margin-top:10px;}
/*相关阅读*/
.article-about{ border:1px solid #dbdbdb; padding-bottom:10px; zoom:1;margin-top:10px;}
.article_tit{ font-size:14px; font-weight:bold; height:30px; background:#f9f9f9; line-height:30px; padding-left:14px;border-bottom:1px solid #dbdbdb;}
.cont_1{ border:1px solid #dbdbdb; padding-bottom:10px; zoom:1;margin-top:10px;}
.t{ font-size:14px; font-weight:bold; height:30px; background:#f9f9f9; line-height:30px; padding-left:10px;border-bottom:1px solid #dbdbdb;}

.cont_1 ul{ float:left; font-size:14px;padding:10px 10px 0 10px; width:280px; overflow:hidden;}
.cont_1 .article_right{ float:right;}
.cont_1 li{ height:26px; line-height:26px;}
/*article-more*/
.article-more { margin:15px 0; clear:both;}
.article-more b{ font-size:14px;}
.article-more a{ margin-left:15px;}

/*紫砂保养方法*/
.method_column{ margin-top:20px;}
.hot_pic li{  display: inline; float: left; margin:15px 20px 0 0;   text-align: center; width: 140px;}
.hot_pic .mr0{ margin-right:0px;}
.hot_pic li img{ width:140px; height:110px; overflow:hidden;margin-bottom:5px;}
/*紫砂开壶*/
.hot_article{ padding-top:20px;}
.hot_article dl{ clear:both;padding-top:15px; display:inline-block;}
.right_title{ font-size:18px; font-family:"微软雅黑"; color:#842a29;}
.hot_article dt{ float:left; width:90px;}
.hot_article dd{ width:200px; float:left;margin-left:10px; color:#999;}
.hot_article dd p{ font-size:14px;padding-bottom:10px;}
/*许壶欣赏*/
.column_meitu{ padding:0px; color:#999;}
.meitu{ float:right; margin-top:5px;}
.column_meitu dl dt,.column_meitu dl dt img{ height: 180px;overflow: hidden;width: 300px;margin-top:0px;}
.column_meitu dl dd{ width:280px;padding:0 10px; line-height:1.5; }
.meitu a,.meitu span i,.meitu span{ display:block; float:left;}
.meitu a span{ background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ no-repeat 0 0; width:8px; height:13px;}
.meitu .icon_left{ background-position:-78px -59px;}
.meitu .icon_right{ background-position:-101px -59px;margin-left:10px;}
.meitu span i{ background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ no-repeat -114px -72px; width:10px; height:10px;margin-left:10px; margin-top:1px;}
.meitu span .current{ background-position:-114px -60px;}

#column_meitu_box{width: 300px;height:340px;margin-top:15px;overflow: hidden;position: relative;background:#faf6ef;}
.column_meitu{ margin-top:15px;height:340px;}
.column_meitu ul{width:1200px;position: absolute;left: 0;top:0;}
.column_meitu li{ width:300px; float:left;}
/*更多*/
.n_drop-more{ position:relative; z-index:4;_margin-top:10px;}
 .con_header .n_drop li{ margin-left:0px; font-size:12px;}
.n_drop .n_drop_con {  background: url("navmore_bg-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/navmore_bg.png*/ repeat-y scroll 0 0 ; height: 100%;   overflow: hidden;padding: 0 5px; position: relative;}
 .n_drop .n_drop_bot { background: url("navmore_bbg-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/navmore_bbg.png*/ no-repeat scroll 0 0 ;
font-size: 1px; height: 10px; line-height: 10px;position: relative;}
.n_drop .n_drop_con ul li {    background: url("line_bg1-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/line_bg1.png*/ repeat-x scroll center bottom ; line-height: 26px; padding: 5px 0; vertical-align: bottom;
}
.n_drop .n_drop_con ul li dl { float: left; overflow: hidden; width: 332px;}
.n_drop .n_drop_con ul li dl dd {  float: left; height: 26px; margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 60px;}
.n_more {   padding-right:15px; cursor: pointer;}
.n_more1 { background: url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ no-repeat scroll right -28px;}
span.icon_arrow2{ background-position:0px -85px; display:none;}
span.icon_arrow{ width:14px; height:7px; display:inline-block; background: url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat scroll 0px -81px; position:relative;top:1px; margin:0px; overflow:hidden;}
.n_drop {  margin: 2px 0 0 -365px; position: absolute; width: 428px;  z-index: 5;}
.n_drop .n_drop_con ul li em { background-color: #F6F6F6; color: #666666; float: left;    font-weight: bold; margin-right: 15px; overflow: hidden; text-align: center;width: 67px;}


/*收藏和分享*/
.article-collect {  float: right; line-height: normal; margin-right: 10px; position: relative;ine-height:20px;}
.article-collect .btn-mini {  padding: 0; width: 88px;}
.btn, .btn:link, .btn:visited {   background-color: #FAFBFC; border: 1px solid #CCD3E4;    color: #3B5B98;  cursor: pointer; display: inline-block; font-family: "宋体";  outline: 0 none;  overflow: hidden; text-align: center; vertical-align: middle; height:20px; line-height:20px;}
.btn:hover{ background:#f0f0f0; text-decoration:none;}
.article-moreuse{ border-top:1px dashed #dbdbdb;padding-top:20px; margin-top: 30px;}
.article-moreuse .jiathis_button_weixin:link, .article-moreuse .jiathis_button_weixin:visited { background-color: #FF7700;border: 1px solid #CC5F00;
    color: #FFFFFF;}
.article-moreuse .jiathis_button_weixin:hover {  background-color: #FF9900; color: #FFFFFF;text-decoration: none;}
.article-moreuse .jiathis_button_weixin:active { background-color: #F65D00; color: #FFFFFF;}
.article-moreuse .jiathis_button_weixin {  cursor: pointer; display: inline-block; float: right;font-family: "宋体"; font-size: 12px; font-weight: 100; height: 20px;line-height: 20px;
outline: medium none;   overflow: hidden;  padding: 0 10px; text-align: center;   vertical-align: middle;}
/*微信弹出层*/
.weixin_modal{ background-clip: padding-box; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; left: 50%; position: fixed; top: 50%; width: 360px; height: 360px; overflow: hidden; margin: -200px 0px 0px -200px; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);}
.modal_header{border-bottom: 1px solid #EEEEEE; padding: 9px 15px;}
.weixin_close{ text-decoration:none;  margin-top: 2px; color: #000000; float: right;  font-size: 20px;  font-weight: bold; cursor:pointer;line-height: 20px; opacity: 0.2; text-shadow: 0 1px 0 #FFFFFF;} 
.modal_footer{ height: 100%; padding: 11px 10px 0px; font-size: 12px; text-align: right; border-top: 1px solid rgb(221, 221, 221); border-radius: 0px 0px 6px 6px;}
/*返回顶部*/
.gotop02 {  bottom: 500px; left: 50%; margin-left: 505px; position: fixed; z-index: 500;}
.favo{ width:49px; height:38px; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0 -253px; display:block;}
.favo:hover{ background-position:-60px -253px;}
.gotop02-con{ width:49px; height:39px; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -291px; display:block;}
.gotop02-con:hover{ background-position:-60px -291px;}
/*漂浮导航*/
.article-tools {   width: 670px; display:none;}
.article-tools .article-tools-content { height: 35px;text-align: center;
    width: 670px; z-index: 999;}
.article-tools .article-tools-collect {  display: inline-block; position: relative;text-align: left;   z-index: 50;}
.article-tools .article-tools-share { display: inline-block; position: relative;    text-align: left;    z-index: 50;}
.article-tools a.btn {margin-right: -7px;  width:89px; height:23px; line-height:23px; }
.article-tools a.btn:link, .article-tools a.btn:visited, .article-tools a.btn:hover {    border-top: 0 none !important;}
.btn-blue, .btn-blue:link, .btn-blue:visited {  background-color: #b2341e; border: 1px solid #842a29;  color: #FFFFFF;}
.btn-blue:hover {  background-color: #842a29; color: #FFFFFF;}
.btn-blue:active {  background-color: #842a29; color: #FFFFFF;}
.article-tools-share .dropdown {  position: relative;  z-index: 10;}
.article-tools-share .article-tools-share-pop {  left: -2px; position: absolute;top: 24px;width:95px;}
.dropdown .dropdown-content { background-color: #FFFFFF; border: 1px solid #dbdbdb;   padding: 5px 0;}
.dropdown .dropdown-content ul li {  height: 27px;line-height: 27px;}
.dropdown .dropdown-content ul li:hover{ background:#F2F5F8;}
.dropdown .dropdown-content ul li a { color: #333333; display: block; height: 27px;   padding: 0 12px;  text-decoration: none;}

/*所有图片*/
span.icon_ser{ display:inline-block; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -115px 0; width:19px; height:25px; position:absolute; z-index:1; left:10px;top:2px;}
.icon16{ display:block; float:left;background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -52px -34px; width:16px; height:16px;   margin: 2px 4px 0 5px;}
i.icon16-star1{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -28px; width:18px; height:17px; position:relative;top:3px;*+top:0px;margin-right:3px;}
i.icon16-star2{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -65px; width:16px; height:15px; position:relative;top:0px;margin-right:3px;}
i.icon16-page{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -236px; width:8px; height:14px; position:relative;top:3px;*+top:0px;margin-left:13px;}
i.icon16-share{  display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -48px; width:17px; height:17px; position:relative;top:3px;margin-right:10px;}
i.icon-weixin{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -151px; width:16px; height:16px; position:relative;top:4px;margin-right:5px; }
i.icon-kongjian,.bshare-qzone{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -168px; width:16px; height:16px; position:relative;top:4px;margin-right:5px; }

i.icon-sina,.bshare-sinaminiblog{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -185px; width:16px; height:16px; position:relative;top:4px;margin-right:5px; }
i.icon-tengxun,.bshare-qqmb{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -202px; width:16px; height:16px; position:relative;top:4px;margin-right:5px; }
i.icon-renren,.bshare-renren{ display:inline-block; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -219px; width:16px; height:17px; position:relative;top:4px;margin-right:5px; }
.bshare-qzone,.bshare-sinaminiblog,.bshare-qqmb,.bshare-renren{top:0px;margin-right:0px}
span.icon_line_2{ width:2px; height:16px; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat -110px 0px; position:relative;top:5px; display:inline-block; overflow:hidden;margin-left:15px;}
/**/
.n_drop{ display:none;}
.show{ display:block;}
.hover .icon_arrow2{ display:inline-block;background-position:0px -89px; position:relative;top:-3px;}
.add1{ height:58px;  overflow:hidden;}
/*列表分享列表*/
i.icon-share{ width:19px; height:19px; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -131px; display:inline-block; position:relative;top:5px;margin-right:5px;}
.share_bnt{ position:relative;color:#217abc;}
.share_bnt .share_bnt_r{ width:63px; height:29px; line-height:29px; text-align:center; color:#999;border: 1px solid #fff;border-bottom:none;}
.share_bnt .bianse_blue{ border: 1px solid #dbdbdb;border-bottom:none;}
.dropdown .dropdown-content2{ width:89px; position:absolute; z-index:2; top:35px;*+top:30px;right:0px;_right:84px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .dropdown .dropdown-content2{ top:30px} }
.dropdown2 .dropdown-content2 ul { padding:0 10px;}
.dropdown2 .dropdown-content2 ul li a{ padding: 0px;}
.dropdown2 .dropdown-content2 ul li { border-bottom:1px dashed #ccd3e4; clear:both;}
.right{ right:0px; }
.dropdown2 .dropdown-content2 ul .share_last{ border:none}
.dropdown2{ position:relative;}
.article-tools-share-pop{ display:none;}
.dropdown2 .dropdown-content2  .clearfix{ background:#fff;top:-1px; width:64px; float:right; height:1px; margin-left:25px; left:0px; position:absolute; z-index:2;border:none;}
.dropdown-content2 a{ float:none;}
 /*===================内容页===========*/
/*header*/
.con_header{ height:37px; background:#f8f8f8; border-bottom:1px solid #eeeef0; height:37px;padding:0 10px; line-height:35px;font-size:12px;margin-bottom:10px;}
.con_header ul{ float:left;}
.con_header li{ float:left;  margin-left:10px; display:inline;}
.con_header li a{ display:inline-block; float:left;}
.con_header .n_drop-more a{ float:none;}
span.icon_line{ width:2px; height:16px; background:url("pic_all-7.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pic_all.png*/ no-repeat -427px -294px; display:inline-block; overflow:hidden;margin-left:15px; top:16px;*+top:0px;}
.con_header .con_logo span{ display:block; float:left; background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -331px; width:113px; height:27px;margin:4px 0;}
.con_header .con_userinfo{ float:right; font-size:12px;_margin-top:6px;}
.con_header .con_userinfo a{ margin-left:10px;}
span.icon_login{ display:inline-block; width:16px; height:17px;background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -96px; position:relative;top:3px;margin-right:5px;}
span.icon_reg{ display:inline-block; width:16px; height:16px;background:url("common-5.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/common.png*/ no-repeat 0px -114px; position:relative;top:3px;margin-right:5px;}
/*内容页当前位置*/
.con_posi{ clear:both;margin-top:10px;}
.con_posi .con_posi_tag{ float:left;margin-top:7px;color:#842a29;}
.con_posi_tag a{ color:#842a29;}
.con_search{ float:right; position:relative; z-index:1;}
.con_search_input{ width:209px; padding-left:30px; height:25px; line-height:25px; border:1px solid #DFDFDF;border-right:none; float:left;}
.con_search_bnt{ width:44px; background:none; border:none; height:29px; float:left; background:#0165B1; cursor:pointer; color:#fff; text-align:center;}
.row{  border-top:2px solid #842a29;}
.column_l{ width:690px;  float:left; }
.column_in{ border:1px solid #ccd3e4;border-top:none;padding:10px 0;}
.articlewrap{ width:630px; margin:0 auto; overflow:hidden;}
.articlewrap h1 {    color: #333333;  font-family: 微软雅黑;font-size: 28px; height: 49px;  line-height: 49px;  margin: 0 -34px;    text-align: center; font-weight:normal;}
.article-info {  border-bottom: 1px solid #dbdbdb; color: #999999; line-height: 22px; padding: 5px 0;text-align: center;}
.article-info a{ color:#842a29;}
.article-info span { padding: 0 10px;}
.article-content { color: #333333;font-size: 16px; line-height: 28px;padding-top: 10px;}
.article-content p { line-height: 28px; margin: 15px 0; padding: 0;}
.video{ font-size:14px; text-align:right;}
.add3{ width:580px; height:90px; margin:0 auto;margin-top:20px;}
.con_add2{ margin:5px 0 0 50px; float:left;}
/*编辑*/
.article-info{ border-bottom:1px dashed #dbdbdb;padding-bottom:5px; height:23px; }
.article-info p{ float:left;}
.article-info .article-info_r{ float:right;margin-top:-4px; display:inline; }
.article-info p span{ margin-right:30px;}
.article-info .article-info_r  span{ margin-right:5px;}
.article-info .article-info_r a{ color:#217abc;display: block;}
span.icon_sc{ display:inline-block; height:17px; background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -132px -58px; position:relative;top:3px;}
span.icon_share{ display:inline-block; height:18px; background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -66px -141px;top:4px;position:relative; z-index:3;}
.article-content { color: #333333;font-size: 16px; line-height: 28px;padding:0 15px;}
.article-content p { line-height: 28px; margin: 15px 0; padding: 0;}
.video{ font-size:14px; text-align:right;padding-right:15px;}
.share_all div{ display:inline;}

/*目录*/
.Catalog li{ float:left; width:255px; line-height:2.3;}	
.Catalog li a{ color:#0000ff;}	
/*收藏*/
.column_share{ margin-top:30px;}
.column_share .share_all{  clear:inherit;float:right; border:none; width:310px;}
.article-collect { line-height: normal;  position: relative;line-height:20px; float:left;}
.column_share .fl{ margin-top:0px;float:left;}
.weixin{ background:#ff7700; border:1px solid #cc5f00; padding:3px 10px;line-height:14px; position:relative;top:0px;float:left; }
.weixin a{ color:#fff;}				
/*百度分享*/
.share_baidu{ float:right; position:relative;top:-4px;margin-left:8px;float:right;}

.article-info_r{ *+width:168px; color:#217abc;*+top:-20px; position:relative;}

/*相关阅读*/
.column_read{ width:290px; float:left;}
.column_read li{ clear:both;}
.cont_title{ font-size:18px; color:#842a29; font-family:"Microsoft YaHei";border-bottom:1px solid #dbdbdb;}
.cont_title span{ display:inline-block; border-bottom:1px solid #842a29;padding-bottom:4px;top:1px; position:relative;}
/*百度分享*/
.share_baidu{ float:right; position:relative;top:-4px;margin-left:8px;}
/*营养价值*/
.article_value .cont_title { height:29px;}
.article_value .cont_title span{ float:left;}
.article_value .cont_title em{ display:inline-block; float:right; position:relative;top:8px;}
.article_value .cont_title em b{ width:8px; height:8px;margin-left:5px;display:inline-block; background:#d3d3d3; cursor:pointer;}
.article_value .cont_title em .current{ background:#4694e6;}
.article_value{  width:325px;}
.article_value li{display: none}
.column_read ul{ font-size:14px; line-height:28px;padding-top:8px;}
.article_value dl{ padding-top:15px; clear:both; display:inline-block;}
.article_value dt{ width:62px; height:62px; overflow:hidden;  float:left;}
.article_value dd{ float:left; width:250px;margin-left:10px; line-height:1.5; color:#666;}
.article-value .article-value-tit{ margin-bottom:5px;}
.article-value-tit a{ color:#842a29;}


/*内容页右侧漂浮导航*/
.article-info_r .share_bnt{ position:relative; display:inline; float:left; margin-left:10px;border:1px solid #fff;padding:0 5px; color:#217ABC;}

.article-info_r .bianse_blue{ border: 1px solid #dbdbdb;border-bottom:none;}
.article-info_r .right{ right:0px; }
.article-info_r .dropdown2 .dropdown-content2 ul{ padding:0px;}
.article-info_r .dropdown2 .dropdown-content2 ul .share_last{ border:none}
.article-info_r .dropdown2{ position:relative;}
.article-info_r .article-tools-share-pop{ display:none;}
.article-info_r .dropdown .dropdown-content { background-color: #FFFFFF; right: -6px;border: 1px solid #dbdbdb;   padding:5px 0 0 10px; position:absolute; z-index:1;top:0px; width:85px;}
.article-info_r .dropdown .dropdown-content li{ height:27px; overflow:hidden; border:none;}
.article-info_r .dropdown2 .dropdown-content  .clearfix{ background:#fff;top:-1px; width:65px; float:right; height:1px; margin-left:30px; left:0px; position:absolute; z-index:2;border:none;}
.article-info_r .dropdown .dropdown-content li  a span{ margin-left:10px;}
.article-info_r .dropdown .dropdown-content  a { color: #333333; display: block; height: 27px;   padding: 0 12px;  text-decoration: none;}
/*评论*/
.pinglun{border:1px solid #eeeeee;margin:10px 0; padding:13px 20px;}
.pinglun_h{height: 24px;border-bottom: 1px solid #eee; padding-bottom:5px; font-size: 16px; font-family: "微软雅黑";}
.pinglun_h2{height: 24px;border-bottom: 2px solid #4693e5; padding-bottom:5px; font-size: 16px; font-family: "微软雅黑"; margin-top:15px;}
.pinglun_box h2 a {font-size: 26px;font-family: "微软雅黑";}
.pinglun_box .p1 {padding: 14px 0;}
.pinglun dl{padding:15px 0;border-bottom: 1px solid #eee; }
.pinglun dl.frist{bordeR:0;}
.pinglun dl dt{width:50px; height:50px;float: left;margin-right:12px; border-radius:100%; overflow:hidden;}
.pinglun dl dd{float:left;font-size: 14px; color: #4c4c4c;width: 566px;}
.pinglun dl dd p{margin-bottom: 8px;line-height: 24px;}
.pinglun dl dd p .c666{font-size:12px;}
.pinglun dl dd p .c999{font-size: 12px;padding-left: 10px;}
.pinglun dl dd div.huifu {float:right; height:20px; line-height:20px;color: #999; font-size: 12px; margin-bottom:10px;}
.pinglun dl dd div.huifu span{float:left;margin:0 0 0 10px; cursor:pointer; position:relative;}
.fenx a{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url("1294706-1-1.html")/*tpa=http://bdimg.share.baidu.com/static/api/img/share/icons_1_16.png?v=01d441d0.png*/;
	_background-image: url("1307080-1-1.html")/*tpa=http://bdimg.share.baidu.com/static/api/img/share/icons_1_16_debase.png?v=2ab75562.png*/;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 10px 6px 0;float:left;
}
.fenx{ position:absolute; width:110px; height:28px; top:-35px; left:-97px; border:2px solid #ddd; padding-left:10px; background:#fff; display:none;}
.fenx .bds_qzone {background-position: 0 -52px;}
.fenx .bds_tsina {background-position: 0 -104px;}
.fenx .bds_renren {background-position: 0 -208px;}
.fenx .bds_tqq {background-position: 0 -260px;}
.pinglun dl dd div.huifu span:hover{ color:#0c7bc6;}
.pinglun dl dd div.huifu span em{ line-height: 20px;padding-left: 2px;}
.pinglun dl dd div.huifu .zan{display: block;width: 14px;height: 14px; background: url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ 0 -343px;float: left;margin:2px 5px 0 0; cursor: pointer;}
.pinglun dl dd div.huifu .zan:hover{background-position: -16px -343px;}
.pinglun dl dd div.huifu .cai{display: block;width: 14px;height: 14px; background: url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ 0 -360px;float: left;margin:2px 0 0; cursor: pointer;vertical-align: middle;}
.pinglun dl dd div.huifu .cai:hover{background-position: -16px -360px;}
.pinglun dl dd .bgf3 {line-height: 30px; background:#fafcff;padding: 5px 5px;margin-bottom:15px;border: 1px solid #c9e3ff;}
.layer{padding: 4px 4px 6px;}
.pinglun dl dd .bgf3 p span.fr{font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.pinglun dl dd .plform {position: relative;}
.pinglun dl dd .area{padding:5px 10px;}
.pinglun dl dd textarea{width: 100%;height:67px;border:0;background-color: #fff;border-radius: 3px; line-height:22px;font-size:12px;resize: none; color:#666;}
.pinglun dl dd .textBox{width: 562px;border: 1px solid #7fb5ef;background-color: #fff;border-radius: 3px;}
.pinglun dl dd.plList .textBox{width:100%;border: 1px solid #7fb5ef;background-color: #fff;border-radius: 3px; }
.pinglun dl dd.plList textarea{width:100%;}
.pinglun dl dd .biaoqing{border-top: 1px solid #e6eaed;background-color: #fafafa; height:39px;}
.pinglun dl dd p{font-size: 12px;margin-top:5px;}
.plbtn{background:url("274741-1.shtml")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/btn.png*/ 0 0; width: 90px;height: 40px;overflow: hidden;line-height: 500px;border: 0;padding: 0;margin: -1px -1px 0 0;cursor: pointer;float: right;border-radius: 0 0 3px;}
.plbtn:hover{background-position:0 -50px; }
.pinglun dl dd.plList .biaoqing {height:32px; overflow:hidden;}
.pinglun dl dd.plList .plbtn{ height:34px; background:url("274741-1.shtml")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/btn.png*/ 0 -103px; }
.pinglun dl dd.plList .plbtn:hover{background:url("274741-1.shtml")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/btn.png*/ 0 -149px; } 
.pinglun dl dd.plList .biaoqing .icon2{margin-top:-3px;}

.icon1{display:inline-block; width:40px; height:39px; background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ 0 -505px;border-right: 1px solid #e6eaed; cursor:pointer;}
.icon1:hover{ background-position:0 -544px;}
.icon2{display:inline-block; width:40px; height:39px; background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -43px -505px;border-right: 1px solid #e6eaed; cursor:pointer;}
.icon2:hover{ background-position: -43px -544px;}
.icon3{display:inline-block; width:40px; height:39px; background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -90px -505px;border-right: 1px solid #e6eaed; cursor:pointer;}
.icon3:hover{ background-position:-90px  -544px;}

ul.pic_list{ padding:3px 0 3px 5px;border-top: 1px solid #e5e5e5;}
ul.pic_list li {height:44px;width:44px; float:left; margin-right:3px; cursor:pointer;}
.add_file{width:42px; height:42px; border:1px dashed #e5e5e5;cursor:pointer; display:block; font-size:36px; text-align:center;color:#b2b2b2;font-family: 'microsoft yahei'; line-height:42px;}
.add_file:hover{ color:#999;}
.add_file_load{width:42px; height:42px; border:1px dashed #e5e5e5;display:block; text-align:center;}
.add_file_load img {margin:13px auto;}

.pinglun dl dd .plform .denglu_Box{ clear:both;margin-top:20px;}
.pinglun dl dd .plform .denglu_Box a{display: inline-block;width: 119px; height:42px;margin-right: 12px;border: 1px solid #ccd4d9; line-height:42px; text-indent:50px;}
.pinglun dl dd .plform .denglu_Box a.weibo{background: url("weibo-2.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/weibo.jpg*/ 6px 6px no-repeat;}
.pinglun dl dd .plform .denglu_Box a.qq{background: url("qq-2.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/qq.jpg*/ 6px 6px no-repeat;}
.pinglun dl dd .plform .denglu_Box a:hover{background-color:#f8f8f8;}
.pinglun dl dd .plform .must{ position: absolute;font-size: 16px; color: #666; font-family: "微软雅黑"; top: 40px; left: 160px;}
.pinglun dl dd .plform .must a{color: #666;padding:0 5px;}
.pinglun dl dd .plform .must a:hover{color: #378fd0 !important;}
.pinglun .ckgd{display: block;height: 34px; background: #F3F3F3; text-align: center; line-height: 34px;font-size: 12px;margin: 20px 0 20px;}
.pinglun .ckgd span.red{font-size:14px;}


/*右侧登录注册*/
.login{ background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -124px -507px no-repeat; text-indent:42px;float:left;width:80px; position:relative;z-index:10; cursor:pointer;}
.login:hover{ background-color:#fff;box-shadow:0px 2px 5px #ccc; }
.loginBox{width:305px; position:absolute;top:35px; right:0;background:#fff;border-top:2px solid #842a29; text-indent:0; z-index:10;box-shadow:0px 2px 5px #ccc; display:none; }
.loginBox .name , .loginBox .pass{width:224px;height:34px; border:1px solid #E8E5E5;padding-left:36px;line-height:34px;}
.loginBox .name {margin:20px 21px 10px; background:url("name-4.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/name.jpg*/ no-repeat 7px center;}
.loginBox .pass {margin:0 21px 0; background:url("pass-4.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/pass.jpg*/ no-repeat 7px center;}
.check {margin:0 7px 0 21px; vertical-align:middle;}
.welcome{margin:0 10px;}
.welcome:hover{color:#e50013 !important;}
#header .wjmm{float:right;color:#F46101;margin-right:20px;}
.btn{ display:inline-block;  text-align:center; line-height:32px; color:#fff; background:url("btnBg-4.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/btnBg.jpg*/;border:1px solid #db3740; font-size:14px; cursor:pointer;}
.btn:hover{color:#fff; background:url("btnBg_h-4.jpg")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/btnBg_h.jpg*/;}
.loginBox .btn{width:260px;height:30px; margin-left:21px; line-height:29px;}
.hezuo{height:70px;line-height:30px; padding-left:21px;}
.zhuce{background:url("con_pic-4.png")/*tpa=http://img.39yst.com/templates/39yst/zisha/images/con_pic.png*/ -125px -542px no-repeat; text-indent:32px; display:inline-block;}
.loginBox p.red {
    color: #f00;
    height: 30px;
    line-height: 30px;
    margin-left: 21px;
}
.loginBox .name {margin:0px 21px 10px; }
.hezuo a{ margin-left:0px; float:left; width:130px;}
.wjmm{  color: #f46101; float: right; margin-right: 20px;}
.wjmm:link,.wjmm:visited{ color: #f46101; }


