@charset "utf-8";
/* CSS Document */
.cl{zoom:1;}
.cl:after{content:'';display: block;clear: both;}

/*


*/
body{font:12px/1.5 宋体;}

.MainCont{
	width:980px;
}
.MainCont_Inside{
    width:auto;
}
.contentF{
    margin:10px 0 20px 0;
}
.subtitle{
	padding:0 0 0 16px;
}
.addressInfo{
    padding:10px 20px;
}
.addressInfo dd{
    clear: both;
    overflow: hidden;
    padding:5px 0;
}
.addressInfo span{
    display: block;
    float: left;
}
.addressInfo .infoItem{
	width:100px;
	}
.addressInfo .adress_detail{
    width:500px;
}
.addAdress_ul li{
    padding:5px 0 0 32px;
}
.addAdress_ul span{
    display: inline-block;
    vertical-align: top;
}
.addAdress_ul .yourName{
    width:80px;
}
.addAdress_ul .yourAdress{
    width:300px;
}
.adressInfo_dl{
}
.adressInfo_dl dd{
    clear: both;
    overflow: hidden;
    _zoom:1;
    padding-left: 20px;
}
.adressInfo_dl span{
    float:left;
}
.adressInfo_dl input[type="text"]{
    float: left;
    border:1px solid #ccc;
    height: 18px;
    width: 150px;
    padding: 2px;
}
.adressInfo_dl input[type="text"] .w200{
	width:200px;
	}
.adressInfo_dl select{
    float: left;
	display:inline;
	margin-right:4px;
	border:1px solid #ccc;
}
#save_user_address{
    padding-top: 15px;
}
.popUpLeft{
    font-size:0;
	display:none;
}
#submit_user_address,.btnAdress{
    background: url("../images/btn.png") no-repeat;
    width: 174px;
    height: 34px;
    border: 0px;
    text-indent: -9999px;
}
.newcarfont03a{
    display: inline-block;
    padding-left:14px;
    border-right: 1px solid #FFD4DB;
    text-align: center;
    color: #f00;
}
.w80{
    width: 80px;
}
.f{
    float: left;
}
.canceCI{
    cursor: pointer;
    padding-left: 10px;
}
.paymentInfo,.payment2,.payment3{
    padding: 10px 0 10px 20px;
}
.paymentInfo li{
    clear: both;
    overflow: hidden;
    padding: 5px 0;
}
.paymentInfo b{
    float: left;
}
.paymentInfo input[type="radio"]{
    float:left;
     margin-top: 5px;
}
.btn_send,.paymentInfo select{
    display: block;
    background: url("../images/btn.png") 0 -50px no-repeat;
    width:112px;
    height: 32px;
    border:0px;
    text-indent: -9999px;
    cursor: pointer;
}
.inputBox{
    border-top: 1px solid #ddd;
}
.btn_pay{
    display: block;
    background: url("../images/btn.png") -126px -50px no-repeat;
    width:112px;
    height: 32px;
    border:0px;
    text-indent: -9999px;
    cursor: pointer;
    margin-left: 45px;
}
.payBox{
    border-top: 1px solid #ddd;
}
.payment2{
    padding-top: 10px;
}
.payment2 li{
    padding-bottom: 7px;
}
.payBox,.productList{
    padding: 7px 0;
}

.payment3{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.payment3 li{
    padding-bottom: 7px;
}
.bankList input[type=radio]{
    vertical-align: 10px;
}
.tables{ width:876px; margin:20px auto;}
.tables td{
    padding: 10px;
    border: 2px solid #ccc;
}
.table_sel{
    border:1px solid #999;
    height: 20px;
    width: 170px;
    margin-right: 15px;
}
.tables_inp{
    height: 20px;
    width: 170px;
    border: 1px solid #999;
    margin: 0 15px;
}
.tables_btn{
    background: url("../images/btn.png") -125px -156px no-repeat ;
    display: inline-block;
    width: 112px;
    height: 32px;
    border:0px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.orderList{
    padding: 10px 0;
}
.flwoTable{
    margin-top: 10px;
}
.flwoTable th{
    background: #f4f4f4;
}
.flwoTable .productName{
    text-align: left;
}
.flwoTable th{
    padding: 0 10px;
}
.flwoTable td{
    padding: 5px 10px;
	font-size: 12px;
}
.PaymentL{
    padding: 5px 0;
}
.finalSubmit{
    cursor: pointer;
}
.process{
    margin-top: 30px;
    overflow: hidden;
    _zoom:1;
    margin-bottom: 25px;
}
.process li{
    background: url("../images/process.gif") no-repeat;
    width: 244px;
    height: 28px;
    float: left;
    text-align: center;
    margin-right: -10px;
    font-weight: bold;
    line-height: 28px;
}
.process .cur{
    background-position:0 -28px ;
    color: red;
}
.address_delete{
    display: block;
    background: url("../images/btn.png") -186px -105px no-repeat;
    width: 112px;
    height: 32px;
    margin-left: 15px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
}
.padl65{
    padding-left: 65px;
}
.bankList2 td{
    padding: 5px;
}
.bankList2 td img{
    border: 1px solid #ddd;
}
.padl6{
    padding-top: 6px;
    padding-left: 6px;
}
.pay_v2 img{
    vertical-align: -13px;
}
.newcart03middle{
		background-image:url(../images/newcart/newcart_middle_v2.png);
}



/*-------- 20130820 新增 洪庆雪----------*/

.new_payment{padding:28px 10px 28px 32px;overflow:hidden;}
.new_payment_list li{}
.pay_label,.coupon_label{padding:0 0 0 12px;vertical-align:1px;cursor:pointer;}
.coupon_label{font-weight:bold;}
.payment_list_tab{padding:5px 10px;float:left;position:relative;z-index:2;}
.payment_list_bg{width:100px;background:#f3f3f3;border:1px solid #d1cfd0;font-weight:bold;}
.nobor-r{border-right:0px;}
.payment_bank{float:left;padding:5px;background:#f3f3f3;width:745px;border:1px solid #d1cfd0;position:relative;z-index:1;margin-left:-1px;}
.bank_list li{float:left;padding:0px 11px 10px 13px;}
.bank_list img{border:1px solid #dcdcdc;vertical-align: top;cursor:pointer;}
.bank_list .hover img{border:1px solid #f00;}
.red_txt{color:#f00;}
.togg_pointer_n{margin-left:3px;display:inline-block;height:15px;width:12px;padding:0 2px;overflow:hidden;color:#fff;font-weight:900;font-size:24px;background:#000;line-height:17px;_line-height:15px;_font-size:13px;cursor:pointer;vertical-align:-3px;text-align: center;}
.coupon{width:838px;background:#f3f3f3;border:1px solid #d6d4d5;padding:17px 16px 4px;color:#434343;position: relative;z-index: 100;}
.coupon ul,.coupon li{ vertical-align:top}
.tables_title{position:relative;padding:0 0 5px 0;}
.close_c{position:absolute;top:0;right:3px;cursor:pointer;}
.bigPrice{font-family:'微软雅黑';}
.grey_txt{color:#adadad;}

.clear:after,{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clear{*zoom:1;}
/*=============2013/8/29 新增加 by钟龙才===================*/
.direct_td90{ width:146px;}
.direct_p{ line-height: 18px;}
.direct_p a:hover{ color:#f00; text-decoration:underline;}
.MainCont{ width:980px; margin:0 auto;}
.diretbuy_num{width: 33px;height: 16px;border: 1px solid #ccc;/*margin-top: 30px;*/display: block;text-align: center;padding: 1px;float: left;}  
.diretbuy_reduce{display: block;width: 17px;height: 20px;/*margin-top: 30px;*/background: url("../images/2013/mycart/shopping.gif") -118px -236px no-repeat;margin-right: 5px;float: left;}
.diretbuy_add{display: block;width: 17px;height: 20px;/*margin-top: 30px;*/float: left;background: url("../images/2013/mycart/shopping.gif") -142px -236px no-repeat;margin-left: 5px;float: left;}

.c_options li{float: left;margin-right: 3px;border:1px solid #d6d4d5;position:relative;top:1px;line-height: 21px;padding:0 8px;cursor:pointer;z-index: 1000;background: #ffffff;}
.face{color:#E12D73;padding-left: 4px;}
.c_num{border:1px dotted #A6A6A6;border-width:1px 0;padding:8px 0 6px; overflow:hidden}
.num_i input{border:1px solid #d6d4d5;width:152px;height: 25px;padding-left:2px;}
.use_c{color:#E55A38;font-weight: bold;padding: 0 5px;}
.less_m{color:#DC1417;font-weight: bold;padding: 0 5px;}
.c_name{color:#2675B2;font-weight: bold;line-height: 32px;}
.total_less{line-height: 36px;}
.text_b{color:#2675B2;}
.c_num li{height: 28px;}
.check_l{padding-bottom: 8px;}
.check_l input{position:relative;top:2px;}
.coupon_2{display: none;}
.c_options .active{border-bottom:none !important;height: 22px;background:#f3f3f3;}
.c_options .active span{color:#E12D73;font-weight: bold;}
.num_i span,.num_i input{ vertical-align:middle;}
.num_i .use_coupon_l{width:52px;height: 25px;background:#e33a3d;color:#ffffff;text-align: center;line-height: 24px;border-radius: 7px;margin-left: 8px;cursor:pointer;}
/**购买选礼品**/
.choice_gift{padding: 10px 0;}
.choice_gift h3{padding-left: 32px;height: 28px;line-height: 28px;font-weight: bold;font-size: 14px;color: #3e3e3e;background: #f4f4f4 url(../images/newcart/gif.png) no-repeat 3px 3px;}
 ul.gift_ul{padding: 20px;overflow: hidden;zoom:1;}
 ul.gift_ul li{float: left;width: 270px;height: 191px;border: 1px solid #ddd;margin:0 25px 15px 0;}
 ul.gift_ul li h4{height: 30px;line-height: 30px;padding: 0 10px; background: #fa364a;color: #fff;font-size: 14px;text-align: center;overflow: hidden;}
 ul.gift_ul li .gift_info{padding: 10px 15px;}
 ul.gift_ul li .gift_info p{line-height: 20px;font-size: 14px;height: 42px;}
 ul.gift_ul li .gift_info p.grit_pic{padding:10px 5px;overflow: hidden;zoom:1;height: 95px;}
 ul.gift_ul li .gift_info p.grit_pic img{width: 66px;height: 66px;border: 1px solid #ddd;float: left;}
 ul.gift_ul li .gift_info p.grit_pic span.gift_now{line-height: 22px; float: right;width: 150px;padding:0;height: 65px;overflow: hidden;}
 ul.gift_ul li .gift_info p.grit_pic a.add_car{float: right;width:109px;height: 28px;background: url(../images/newcart/add.jpg) no-repeat; }
